<div class="nav-container">
  <div class="nav">
    <div class="nav-container">

      <div class="desktop-menu">
        <div class="logo-container">
          <i class="desktop-logo"><a routerLink="/home"><img src="../../assets/transparent-background-white-text-new.png"/></a></i>
        </div>

        <div class="desktop-navigation">
          <ul class="desktop-menu-list">
            <li><a routerLink="/music">MUSIC</a></li>
            <li><a routerLink="/news">NEWS</a></li>
            <li><a routerLink="/videos">VIDEOS</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
          </ul>

          <div class="desktop-search">
            <input type='text' class="search-form"/>
            <i class="fa fa-search pull-right search-icon" style="font-size:2.3em; color: white;"></i>
            <!--  BELOW IS CLOSE-ICON  -->
            <i class="fa fa-close pull-right close-icon" style="font-size:2.6em; color: grey; margin-top: -.5vh"></i>
          </div>

        </div>

        <div class="social-desktop">
          <ul class="menu-social">
            <li class=" fa fa-facebook"></li>
            <li class=" fa fa-instagram"></li>
            <li class=" fa fa-twitter"></li>
            <li class=" fa fa-youtube-play"></li>
            <li class=" fa fa-rss"></li>
            <li class=" fa fa-google-plus"></li>
          </ul>
        </div>




      </div>







      <div class="mobile-menu">
        <i class="collapsible-menu collapsible-menu-hide fa fa-bars pull-left" style="font-size:2.6em; color: white;"></i>
        <i class="collapsible-menu collapsible-menu-show fa fa-bars pull-left" style="font-size:2.6em; color: white;"></i>
        <i class="logo"><a href="#"><img src="../../assets/transparent-background-white-text-new.png"/></a></i>
        <!-- SEARCH FORM OVER LOGO -->
        <input type='text' class="search-form"/>
        <i class="fa fa-search pull-right search-icon" style="font-size:2.3em; color: white;"></i>
        <!--  BELOW IS CLOSE-ICON  -->
        <i class="fa fa-close pull-right close-icon" style="font-size:2.6em; color: grey; margin-top: -.5vh"></i>
      </div>
    </div>
  </div>
</div>

<!-- HIDDEN COLLAPSIBLE-MENU -->
<div class="menu-content pull-left">
  <ul class="menu-list">
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/music">MUSIC</a></li>
    <li><a routerLink="/news">NEWS</a></li>
    <li><a routerLink="/videos">VIDEOS</a></li>
    <!-- <li><a href="#"></a>ARTISTS</li> -->
    <li><a routerLink="/contact">CONTACT</a></li>
    <!-- <li><a href="#"></a>ABOUT</li> -->
  </ul>
  <ul class="menu-social">
    <li class=" fa fa-facebook"></li>
    <li class=" fa fa-instagram"></li>
    <li class=" fa fa-twitter"></li>
    <li class=" fa fa-youtube-play"></li>
    <li class=" fa fa-rss"></li>
    <li class=" fa fa-google-plus"></li>
  </ul>


    <!-- <ul class="new-social">
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
      <li><img type="image/png" src="./../../../assets/facebook.png"></li>
    </ul> -->

</div>
